include ../../../bundle/pug-mixins/globals.pug

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="theme-color" content="red")
    meta(name="msapplication-navbutton-color" content="red")
    meta(name="apple-mobile-web-app-status-bar-style" content="red")
    title document
    link(rel='stylesheet', href='../_merged/merged.css')

  body
    main.content
      div.container-fluid
        div.banner-section(style="background-image: url('/images/1.jpg')")





    script(src='../_merged/merged.js')


